.success-message {
    font-size: 1.9rem;
    color: #00B050;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.fail-message {
    font-size: 1.9rem;
    color: red;
    width: 100%;
    text-align: center;
    margin-bottom:1.5rem;
}
