.SelectQuestionnairePage-FiltersContainer{
    display:flex;
}

.SelectQuestionnairePage-LeftFiltersItem {
    flex: 0 1 auto;
    width: 100%;
    margin: 0 1em 0 10em;
}

.SelectQuestionnairePage-RightFiltersItem {
    flex: 0 1 auto;
    width: 100%;
    margin: 0 10em 0 1em;
}