.container {
    justify-content: center;
    height: 100%;
}

.question-container {
    padding: 0.4rem 0;
}

.typed-answers-container {
    padding: 0.4rem 0;
}

.question-text {
    margin-left: 0.2rem;
}

.typed-answers-text {
    margin-left: 0.1rem;
}

.answer {
    margin: 0 -0.4rem;
    border: 0.1rem solid #00cc00;
    padding: 0.4rem;
}

.correct-result-message, .incorrect-result-message {
    text-align: center;
}

.separator, .correct-result-message, .incorrect-result-message {
    margin: 0.4rem;
}

.correct-result-message {
    color: #00cc00;
}

.incorrect-result-message {
    color: red;
}

.red-font-color {
    color: red;
}