.container {
    border: 0.1rem solid black;
    background-color: white;
    padding: 0.5rem;
    margin: 0.25rem 0;
}

.answers-counter {
    background-color: #DAE3F3;
    padding: 0.5rem;
}

.answer-input {
    flex: 1 0 0;
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
}