<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Chapter-Register-Redirect" stopProcessing="true">
					<match url="/Register/*" />
					<action type="Rewrite" url="/" />
				</rule>
				<rule name="Chapter-ConfirmEmail-Redirect" stopProcessing="true">
					<match url="/confirm_email/*" />
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>