.select-button {
    flex-grow: 1;
    padding: 0.25rem 0.35rem;
    text-align: left;
    cursor: pointer;
}

.separator {
    width: 0.025rem;
    height: 1.1rem;
    background-color: #8FAADC
}

.settings-button {
    padding: 0.25rem 0.25rem
}