.container input[type="radio"] {
    display: none;
}

.container input[type="radio"]:checked + input[type="button"] {
    border: 0.3em solid #00B050;
}

.container input[type="button"] {
    border: 0.3em solid white;
}