body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-body {
    flex: 1 0 auto;
}

.MiddleVerticalAlignContainer {
    display:flex;
    justify-content:center;
    height:100%;
}

.MiddleVerticalAlignBlock {
    margin: auto;
}

.FullscreenColumnAlignmentByWidth {
    width:100%;
}

.VerticalCenterColumn {
    margin: auto;
    flex-direction: column;
}

.VerticalFullHeightColumn {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height:100%;
}

.Column-small {
    width: 20em;
    margin-left:auto;
    margin-right:auto;
}

.Column-medium {
    width: 50em;
}

.Panel {
    border: 0.15em solid black;
    border-radius: 1.5em;
    padding: 0.7em;
    display: flex;
    flex-direction: column;
}

.TitleBeforePanel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 1.5em 0;
}

.TitleBetweenPanels {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1.5em 0;
}

.GroupInsidePanel {
    margin: 0.7em 0;
}

.MainControlContainer {
    margin: 0.7em;
}

.RouteElementWithReturnButton{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.DisplayFlex {
    display: flex;
}

.MainTextBox, .MainButton, .ErrorLabel {
    border-radius: 0.5em;
    padding: 0.5em 0.7em;
    box-sizing: border-box;
}

.TextBoxWithoutPanel {
    border-radius: 1.5em;
    padding: 0.5em 0.7em;
}

.MainTextBox {
    border: 0.15em solid black;
}

.FullWidth {
    width: 100%;
}

.FullHeight {
    flex: 1 0 auto;
}

.MainButton {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.MainButton {
    background-color: #002060;
}

.MainButton:disabled {
    background-color: #BDD7EE;
    border-color:transparent;
}

.IncreaseButtonHeight {
    height:5em;
}

.Font-MainForLabels {
    font-size:2em;
}

.Font-MainForLists {
    font-size:1.5em;
}

.Font-MainForControls {
    font-size:1em;
}

.Font-Default {
    font-size:0.9em;
}

.Font-Notes {
    font-size: 0.6em;
}

.Font-Bold {
    font-weight: bold;
}

.CenterText {
    text-align:center;
}

.RightText {
    text-align: right;
}

.CentralButton {
    width: 17.2em;
    margin-left: auto;
    margin-right: auto;
}

.CentralButton-SmallWidth {
    width: 14.4em;
    margin-left: auto;
    margin-right: auto;
}

.ValidationLabel{
    color:red;
    margin:0.2em 0.85em 0 0.85em;
    font-size:0.8em;
}

.ErrorLabel {
    background-color: #FFCDCD;
    color: red;
    margin: 1.5em 0 0 0;
    font-size: 0.8em;
}

ul.TightList{
    list-style: none;
    padding-left:0;
}

    ul.TightList li {
        position: relative;
        padding: 0.15em 0 0.15em 1.5em;
    }

        ul.TightList li:before {
            content: "●";
            position: absolute;
            left: 0.5em;
        }