body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-body {
    flex: 1 0 auto;
}

.middle-vertical-align-container {
    display:flex;
    justify-content:center;
    height:100%;
}

.middle-vertical-align-block {
    margin: auto;
}

.vertical-center-column {
    margin: auto;
    flex-direction: column;
}

.vertical-full-height-column {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height:100%;
}

.column-small {
    width: 20rem;
    margin-left:auto;
    margin-right:auto;
}

.column-medium {
    width: 50rem;
}

.panel {
    border: 0.15rem solid black;
    padding: 0.7rem;
    flex-direction: column;
}

.panel-for-flex-wrap-elements {
    border: 0.15rem solid black;
    padding: 0.35rem;
    flex-wrap: wrap;
}

.border-radius-big {
    border-radius: 1.5rem;
}

.border-radius-small {
    border-radius: 0.5rem;
}

.title-before-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 0.7rem 0;
}

.title-between-panels {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.7rem 0;
}

.group-inside-panel {
    margin: 0.7rem 0;
}

.group-inside-panel--2x-margin {
    margin: 1.4rem 0;
}

.main-control-container {
    margin: 0.7rem;
}

.route-element-with-return-button{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.display-flex {
    display: flex;
}

.flex-all-free-space {
    flex: 1 0 auto;
}

.main-text-box, .main-button, .error-label {
    padding: 0.5rem 0.7rem;
    box-sizing: border-box;
}

.text-box-without-panel {
    padding: 0.5rem 0.7rem;
}

.main-text-box {
    border: 0.15rem solid black;
}

.full-width {
    width: 100%;
}

.main-button {
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #002060;
    border-radius: 0.5rem;
}

.main-button:disabled {
    background-color: #BDD7EE;
    border-color:transparent;
}

.main-text-box:disabled {
    border-color: #BDD7EE;
    color:lightgray;
}

.main-flex-wrap-label {
    color: white;
    cursor: pointer;
    background-color: #002060;
    border-radius: 0.5rem;
    padding: 0.25rem 0.35rem;
    box-sizing: border-box;
}

.increased-button-height {
    height:5rem;
}

.font--main-for-labels {
    font-size:2rem;
}

.font--main-for-small-labels {
    font-size:1.5rem;
}

.font--main-for-lists {
    font-size:1.5rem;
}

.font--main-for-controls {
    font-size:1rem;
}

.font--default {
    font-size:0.9rem;
}

.font--notes {
    font-size: 0.6rem;
}

.font--bold {
    font-weight: bold;
}

.central-text {
    text-align:center;
}

.central-button {
    width: 17.2rem;
    margin-left: auto;
    margin-right: auto;
}

.central-button--small-width {
    width: 14.4rem;
    margin-left: auto;
    margin-right: auto;
}

.validation-label{
    color:red;
    margin:0.2rem 0.85rem 0 0.85rem;
    font-size:0.8rem;
}

.error-label {
    background-color: #FFCDCD;
    color: red;
    margin: 1.5rem 0 0 0;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

ul.tight-list{
    list-style: none;
    padding-left:0;
    margin:0;
}

/*    ul.tight-list li {
        position: relative;
        padding: 0.15em 0 0.15em 1.5em;
    }*/

/*        ul.tight-list li:before {
            content: "●";
            position: absolute;
            left: 0.5em;
        }*/