body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-body {
    flex: 1 0 auto;
}

.MiddleVerticalAlignContainer {
    display:flex;
    justify-content:center;
    height:100%;
}

.MiddleVerticalAlignBlock {
    margin: auto;
}

.FullscreenColumnAlignmentByWidth {
    width:100%;
}

.Column-small {
    width: 20em;
    margin-left:auto;
    margin-right:auto;
}

.Panel {
    border: 0.15em solid black;
    border-radius: 1.5em;
    padding: 0.7em;
    display: flex;
    flex-direction: column;
}

.TitleBeforePanel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 1.5em 0;
}

.MainControlContainer {
    margin: 0.7em;
}

.DisplayFlex {
    display: flex;
}

.MainTextBox, .MainButton, .ErrorLabel {
    border-radius: 0.5em;
    padding: 0.5em 0.7em;
    box-sizing: border-box;
}

.MainTextBox {
    border: 0.15em solid black;
}

.FullWidth {
    width: 100%;
}

.MainButton {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.MainButton {
    background-color: #002060;
}

.MainButton:disabled {
    background-color: #BDD7EE;
    border-color:transparent;
}

.IncreaseButtonHeight {
    height:5em;
}

.Font-MainForLabels {
    font-size:2em;
}

.Font-MainForControls {
    font-size:1em;
}

.Font-Default {
    font-size:0.9em;
}

.CenterText {
    text-align:center;
}

.CentralButton {
    width: 17.2em;
    margin-left: auto;
    margin-right: auto;
}

.ButtonMarginForColumnWithoutBorders {
    margin-left: 1.55em;
    margin-right: 1.55em;
}

.ValidationLabel{
    color:red;
    margin:0.2em 0.85em 0 0.85em;
    font-size:0.8em;
}

.ErrorLabel {
    background-color: #FFCDCD;
    color: red;
    margin: 1.5em 0 0 0;
    font-size: 0.8em;
}