footer {
    background-image: linear-gradient(white, #ABC0E4, #ABC0E4);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
    height: 4em;
}

.Footer-AboutText {
    flex: 1 0 auto;
}

.Footer-Logo {
    text-shadow: 2px 2px 4px #000000;
}