header.container {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1rem;
}

.logo {
    font-size: 2rem;
}

.training-title {
    align-content: center;
    text-align: center;
    color: #2F5597;
}

a.memorizer-href {
    text-decoration: none;
    color: black;
}

    a.memorizer-href:hover {
        color: black;
    }

    a.memorizer-href:active {
        color: black;
    }

    a.memorizer-href:visited {
        color: black;
    }